body {
    background: linear-gradient(rgb(137, 176, 137), rgb(55, 55, 97));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex {
    display: flex;
}

.cabecera {
    color: rgb(224, 222, 222);
    width: auto;
    height: auto;

}

#formulario {
    background-color: rgba(255, 255, 255, 0.46);
    margin: auto;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    width: auto;
    max-width: 700px;
    height: auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
}

.encabezadoForm {
    background-color: rgb(223, 222, 222);
    width: 100%;
    height: 30px;
    font-weight: bolder;

}

.resultadoForm {

    width: auto;
    height: auto;
    padding: 10px;

}

.lblResultados {
    width: 200px;
    margin: auto;
}

.lblDomicilio {
    width: 85px;
    margin: auto;
}

.inputDomicilio {
    margin: 10px;
    height: 20px;
    width: 270px;

}

.inputResultados {
    height: 20px;
    width: 356px;
}

.divInputs {
    width: auto;
    margin-top: 19px;
}

.btnBuscar {
    border: none;
    background-color: rgb(3, 29, 13);
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    width: 70px;
    height: 30px;
    margin-right: 1em;

}

.btnBuscar:hover {
    cursor: pointer;
    background-color: rgb(178, 178, 178);
    color: rgb(3, 29, 13);
    transition: all 0.35s;

}

#contenedor {
    margin-top: 50px;
    width: auto;
    height: auto;
}

small {
    text-decoration: underline;
    font-size: 14px;
    color: aliceblue;
}

.buscarForm {
    display: flex;
    width: 95%;
    height: 25px;
    padding: 20px;

}

.inputBuscar {
    margin-left: 2em;
    margin-right: 2em;
    height: 22px;
    width: 160px;
    border: 2px solid rgb(5, 5, 5);
    border-radius: .35em;
    background: transparent;

}

.labelBuscarId {
    position: absolute;
    margin-left: 80px;
    background-color: whitesmoke;
    z-index: 1;
    color: rgb(124, 124, 124);

}


